<!DOCTYPE html>
<html lang="it">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #mybody{
            background-color: black;
            color: white;
            height: 100%;
        }
        html,body {
            height: 100%;
        }
        .fly_cmd{
            max-width:55px;
        }
        .modal-dialog,
        .modal-content {
            /* 80% of window height */
            height: 85%;
            display: flex;
            flex-direction: column;
            max-height: 80vh; /* Limita l'altezza massima del modal */
            overflow-y: auto;
        }
        .log-entry {
            display: flex;
        }
        .WARNING{
            color:orange;
            font-weight: 500;
        }
        .CRITICAL, .ERROR{
            color:red;
            font-weight: 500;
        }
    </style>
    <title>PyDrone Controller</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body id="mybody" style="height:100vh;">
    <div style="text-align:center; width:100%;position:absolute;top:50%;">
        <div style="float:left;">
            <table style="margin: 0 auto; text-align: center; border-collapse: collapse;">
                <tr>
                    <td></td>    
                    <td><img class="fly_cmd" src="{{ url_for('static', filename='high.png') }}" ></td>   
                    <td></td>   


                </tr>
                <tr>
                    <td><img class="fly_cmd" src="{{ url_for('static', filename='yaw_left.png') }}" ></td>    
                    <td></td>   
                    <td><img class="fly_cmd" src="{{ url_for('static', filename='yaw_right.png') }}" ></td>  
                </tr>
                <tr>
                    <td></td>
                    <td><img class="fly_cmd" src="{{ url_for('static', filename='low.png') }}" ></td> 
                    <td></td>
                </tr>
            </table>
        </div>




        <div style="float:right;">
            <table style="margin: 0 auto; text-align: center; border-collapse: collapse;">
                <tr>
                    <td></td>
                    <td><img class="fly_cmd" src="{{ url_for('static', filename='up.png') }}" ></td>
                    <td></td> 
                </tr>
                <tr>
                    <td><img class="fly_cmd" src="{{ url_for('static', filename='left.png') }}" ></td>  
                    <td></td> 
                    <td><img class="fly_cmd" src="{{ url_for('static', filename='right.png') }}" ></td>
                </tr>
                <tr>
                    <td></td>
                    <td><img class="fly_cmd" src="{{ url_for('static', filename='down.png') }}" ></td> 
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12" style="display: flex; justify-content: space-between; align-items: center; padding: 10px; background-color: rgba(255, 255, 255, 0.2); border-bottom: 1px solid black; font-size: 40px;">
            <i class="fa-solid fa-location-dot" style="color:red;"></i> 
            <span><i class="fa-solid fa-location-arrow"></i><span style="font-size: 30px;"> 1 m/s</span> </span> 
            <span>h<span style="font-size: 30px;"> 2</span></span> 
            <i class="fa-solid fa-rectangle-list" style="color:blueviolet;"></i> 
            <i class="fa-solid fa-rectangle-list" style="color:#8c8ceb;"></i> 
            <i class="fa-solid fa-gears" data-toggle="modal" data-target="#exampleModal"></i>
        </div>
    </div>
    <div class="row justify-content-center h-100" >
        <div class="col-12" style="text-align:center;">
            <!-- <iframe src="http://192.168.178.89:5000/video" style="width:100%; height:100%;"></iframe> -->
            <img style="-webkit-user-select: none;" src="http://localhost:5000/video" width="50%" >
        </div>
    
    </div>
</div>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="--bs-modal-width: 800px; color:black;">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-body">


            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:right;">
                <span aria-hidden="true">&times;</span>
              </button>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">GENERAL</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">FLY</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">LOG</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <form id="save_drone_config"></form>
                            <div class="row" style="margin-top:10px;">
                                    <div class="col-12" style="text-align: center;">
                                        <input type="submit" class="btn btn-success" value="SAVE CONFIG"><br>
                                    </div>


                                    {% for item in config_list_parameters %}
                                        <div class="col-4" style="margin: 10px; min-width: 300px;">
                                            {{ item }}
                                            <input type="text" id="{{ item }}" name="{{ item }}" style="width: 55px; float:right;"> 
                                        </div>
                                    {% endfor %}
                            </div>
                        </form>

                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                        <div class="row" style="margin-top:10px;">

                            <div class="col-4">
                                <span><button id="TAKE_OFF" type="button" class="btn btn-primary">Take OFF</button></span><br>Il drone prova a decollare
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-warning">Land</button><br>Il drone prova ad atterrare
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-info">Follow Person</button><br>Il drone prova a seguire la prima persona che vede
                            </div>
                            <!--
                                <button type="button" class="btn btn-secondary">Secondary</button>
                                <button type="button" class="btn btn-success">Success</button>
                                <button type="button" class="btn btn-danger">Danger</button>
                                <button type="button" class="btn btn-warning">Warning</button>
                                <button type="button" class="btn btn-info">Info</button>
                                <button type="button" class="btn btn-light">Light</button>
                                <button type="button" class="btn btn-dark">Dark</button>
                            -->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="show_timestamp" checked>
                                    <label class="form-check-label" for="show_timestamp">Show TimeStamp</label>
                                    
                                    <br>
                                    <input class="form-check-input" type="checkbox" id="show_source" checked>
                                    <label class="form-check-label" for="show_source">Show Source</label>
                                    <div style=" white-space: pre-line;" id="autopilot_log">Caricamento dati...</div>
                                </div>
                            </div>
                        </div>

                    </div>
                  </div>


        </div>

      </div>
    </div>
  </div>


  <div style="margin-left: 10%; position: absolute; top: 10px; width: 80%; text-align: center;" class="alert alert-primary" role="alert">
    This is a primary alert—check it out!
    <span style="float:right;"data-dismiss="alert">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </span>

  </div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<script>
    $(document).ready(function() {
       let lastLog = "";

       var newDiv = $('<span id="newDiv" style="margin:10px; color:green; font-weight: bold;">OK</span>');


        $("#TAKE_OFF").click(function(e){
           e.preventDefault();

           $.ajax({
               url: '/api/takeoff',
               method: 'GET',
               success: function(data) {
                
                   $("#TAKE_OFF").after(newDiv); // Lo aggiungiamo dopo il div di riferimento (targetDiv)
            
                    // Nascondi il nuovo div dopo 2 secondi
                    setTimeout(function() {
                        $('#newDiv').fadeOut();
                    }, 2000); // 2000 ms = 2 secondi
                
                    console.log(data);
               },
               error: function(xhr, status, error) {
                    console.error('Errore:', error);
                }
            });


        });

       $('#save_drone_config').on('submit', function(e) {
            e.preventDefault();

            // Crea un oggetto JSON a partire dai campi del form
            var data = {};
            $('#save_drone_config').serializeArray().forEach(function(item) {
                data[item.name] = item.value;
            });

            $.ajax({
                type: 'POST',
                url: '/api/update_config',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(response) {
                    console.log('Successo:', response);
                },
                error: function(xhr, status, error) {
                    console.error('Errore:', error);
                }
            });
        });

       $.ajax({
               url: '/api/drone_params',
               method: 'GET',
               success: function(data) {
                    $.each(data, function(key, value) {
                        $('#' + key).val(value);
                        console.log('#' + key);
                        console.log(value);
                    });
               },
               error: function() {
                   alert("Errore nel ricevere i drone params");
               }
            });



       function fetchAutopilotLog() {
           $.ajax({
               url: '/log/autopilot',
               method: 'GET',
               success: function(data) {
                   if (data !== lastLog) { // Aggiorna solo se il contenuto è cambiato
                       lastLog = data;
                       let lines = data.split('\n');
                       let logHtml = '';
                       
                       lines.forEach(line => {
                           let parts = line.split(' - ');
                           if (parts.length >= 4) {
                               let timestamp = parts[0];
                               let sorgente = parts[1];
                               let impact = parts[2];
                               let message = parts.slice(3).join(' - ');
                               
                               logHtml += `<div class="log-entry">
                                               <span class="timestamp">${timestamp} - </span>
                                               <span class="sorgente">${sorgente} - </span>
                                               <span class="impact ${impact}">${impact} - </span>
                                               <span class="message">${message}</span>
                                           </div>`;
                                           
                           }else{
                                logHtml += `<div class="log-entry">
                                                <span class="timestamp"> - </span>
                                                <span class="sorgente">- </span>
                                                <span class="impact"> - </span>
                                                <span class="message" style="color:red;">${line}</span>
                                            </div>`;
                           }
                       });
                       
                       $('#autopilot_log').html(logHtml);
                   }
               },
               error: function() {
                   $('#autopilot_log').text('Errore nel caricamento dei dati.');
               }
            });
       }
       
       setInterval(fetchAutopilotLog, 500);

       $('#show_timestamp').on('change', function() {
           if (this.checked) {
               $('.timestamp').show();
           } else {
               $('.timestamp').hide();
           }
       });

       $('#show_source').on('change', function() {
           if (this.checked) {
               $('.sorgente').show();
           } else {
               $('.sorgente').hide();
           }
       });

   });
</script>

</body>
</html>